
@font-face{
    src: url("../font/Product\ Sans\ Regular.ttf");
    font-family: 'Product Sans';
}
@font-face{
    src: url("../font/Product\ Sans\ Bold.ttf");
    font-family: 'Product Sans';
    font-weight: 700;
}
@font-face{
    src: url("../font/Product\ Sans\ Italic.ttf");
    font-family: 'Product Sans';
    font-style: italic;
}
@font-face{
    src: url("../font/Product\ Sans\ Bold\ Italic.ttf");
    font-family: 'Product Sans';
    font-weight: 700;
    font-style: italic;
}
* {
    font-family: 'Product Sans', serif !important;
}

.uk-navbar-container {
    background-color: white !important;
}


.round-btn {
    border-radius: 5%;
}

.footer-background {
    background: black;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}


/* shop pages  */
.shop-header {
    background-image: url('../images/header-bg.jpg');
    padding: 3%;
}
.shop-header h2 {
    color: white;
}

.uk-grid-small a{
    text-decoration: none;
}

.strike {
    text-decoration: line-through;
}

.text-small {
    font-size: 15px;
}

.list-text {
    font-size: 13px;
}

.order-text {
    font-size: 12px;
}
/* .filter {
    width: 240px;
}

.shop-content {
    width: calc(100% - 260px)
} */